In [72]:
import numpy as np
import pandas as pd

## Importamos las bases de datos de cada trader

In [73]:
trader1 = pd.read_excel('Archivos/Trader_01.xlsx').dropna()
trader2 = pd.read_excel('Archivos/Trader_02.xlsx').dropna()
trader3 = pd.read_excel('Archivos/Trader_03.xlsx').dropna()
trader4 = pd.read_excel('Archivos/Trader_04.xlsx').dropna()
trader5 = pd.read_excel('Archivos/Trader_05.xlsx').dropna()
trader6 = pd.read_excel('Archivos/Trader_06.xlsx').dropna()
trader7 = pd.read_excel('Archivos/Trader_07.xlsx').dropna()
trader8 = pd.read_excel('Archivos/Trader_08.xlsx').dropna()
trader10 = pd.read_excel('Archivos/Trader_10.xlsx').dropna()
trader11 = pd.read_excel('Archivos/Trader_11.xlsx').dropna()
trader12 = pd.read_excel('Archivos/Trader_12.xlsx').dropna()
trader13 = pd.read_excel('Archivos/Trader_13.xlsx').dropna()
trader14 = pd.read_excel('Archivos/Trader_14.xlsx').dropna()
trader15 = pd.read_excel('Archivos/Trader_15.xlsx').dropna()
trader16 = pd.read_excel('Archivos/Trader_16.xlsx').dropna()
trader17 = pd.read_excel('Archivos/Trader_17.xlsx').dropna()
trader18 = pd.read_excel('Archivos/Trader_18.xlsx').dropna()

**Tabla con información de todos los traders**

In [76]:
tabla = [trader1, trader2, trader3, trader4, trader5, trader6, trader7, trader8, trader10, trader11, trader12,
        trader13, trader14, trader15, trader16, trader17, trader18]
data = pd.concat(tabla, sort='False', ignore_index='True')
data.head()

,Action,Close Price,Close date,Duration,Gain,Lots,Open Date,Open Price,Pips,Profit,SL,Symbol,TP
0,Buy,3073.60000,03.18.2021 20:12,14d,0.0003,10.00,03.04.2021 17:42,3042.75000,3085.0,276.76,-,AMZN.N,-
1,Sell,55258.08000,03.16.2021 10:11,4d,0.0000,0.01,03.11.2021 22:43,57411.08000,2153.0,19.95,-,BTCUSD,-
2,Sell,1.38346,03.16.2021 10:11,4d,0.0008,0.50,03.11.2021 22:43,1.39927,158.1,786.54,-,GBPUSD,-
3,Sell,1.19373,03.12.2021 15:43,17h 0m,0.0003,0.50,03.11.2021 22:43,1.19888,51.5,257.39,-,EURUSD,-
4,Sell,1.08049,03.12.2021 15:43,16h 59m,-0.0002,1.00,03.11.2021 22:44,1.07753,-29.6,-214.49,-,AUDNZD,-

## Estadística descriptiva de cada trader

In [77]:
display(trader1.describe(), trader2.describe(),
        trader3.describe(), trader4.describe(),
        trader5.describe(), trader6.describe(),
        trader7.describe(), trader8.describe(),
        trader10.describe(), trader11.describe(),
        trader12.describe(), trader13.describe(),
        trader14.describe(), trader15.describe(),
        trader16.describe(), trader17.describe(), 
        trader18.describe(),)

,Lots,Open Price,Close Price,Pips,Profit,Gain
count,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000
mean,2.273030,9572.881273,9747.860933,485.033333,572.670909,0.000570
std,3.323684,19232.467388,19570.908559,1276.134561,1904.650934,0.001886
min,0.010000,1.065380,1.066390,-3706.500000,-3732.840000,-0.003700
25%,1.000000,1.392160,1.383460,-10.300000,-61.610000,-0.000100
50%,1.000000,20.865650,20.863480,45.100000,138.000000,0.000100
75%,1.000000,1735.800000,1738.040000,1060.700000,478.180000,0.000500
max,10.000000,57411.080000,55258.080000,3250.000000,8994.510000,0.008900

            Lots  Open Price  Close Price       Pips     Profit       Gain
count  87.000000   87.000000    87.000000  87.000000  87.000000  87.000000
mean    0.053678    1.746749     1.746717   6.098851   2.103908   0.001410
std     0.010013    0.013804     0.013866   7.662647   3.349704   0.002265
min     0.030000    1.721690     1.721970 -22.000000 -10.980000  -0.007500
25%     0.050000    1.733005     1.733005   3.600000   0.585000   0.000400
50%     0.060000    1.750140     1.750700   8.400000   3.000000   0.002100
75%     0.060000    1.756885     1.756710   8.700000   3.615000   0.002400
max     0.060000    1.776380     1.777230  24.000000  10.790000   0.007400

            Lots  Open Price  Close Price       Pips       Profit       Gain
count  16.000000   16.000000    16.000000  16.000000    16.000000  16.000000
mean    4.750000   34.316514    34.335689  -3.737500   -67.588750  -0.000606
std     1.390444   60.337241    60.348072  44.447315  2030.200818   0.040036
min     1.000000    0.722780     0.719640 -74.100000 -3911.500000  -0.075600
25%     4.000000    1.086110     1.087735 -48.825000  -963.885000  -0.018675
50%     5.000000    1.220125     1.218695   2.950000   138.780000   0.002800
75%     5.000000   27.334142    27.408735  35.075000  1565.250000   0.032875
max     7.000000  152.522000   152.051000  50.800000  2400.400000   0.047100

             Lots  Open Price  Close Price        Pips      Profit        Gain
count  197.000000  197.000000   197.000000  197.000000  197.000000  197.000000
mean     0.093299   94.142351    94.054850   11.723350   10.526548    0.001825
std      0.015901   34.348276    34.332154   29.081737   26.260399    0.004690
min      0.080000    0.712030     0.712860  -61.900000  -54.280000   -0.011200
25%      0.080000   77.876000    77.545000    2.200000    1.680000    0.000400
50%      0.090000  104.985000   104.616000    8.000000    7.410000    0.001500
75%      0.090000  117.427000   117.619000   15.500000   15.660000    0.002600
max      0.140000  129.839000   129.814000  137.700000  148.190000    0.021300

            Lots  Open Price  Close Price       Pips         Profit       Gain
count  63.000000   63.000000    63.000000  63.000000      63.000000  63.000000
mean    3.177778   38.275102    38.264788   5.774603   27764.269841   0.002592
std     1.579755   55.354862    55.329474  15.590081   90878.523523   0.008148
min     2.600000    0.855970     0.854700 -62.100000 -168637.000000  -0.014300
25%     2.600000    1.198335     1.198680   1.750000    4788.500000   0.000450
50%     2.600000    1.391970     1.392500   4.300000   11355.000000   0.001100
75%     2.600000  106.444000   106.468000   8.350000   35089.500000   0.003400
max    10.400000  151.036000   150.436000  63.800000  656344.000000   0.058800

            Lots  Open Price  Close Price       Pips       Profit       Gain
count  23.000000   23.000000    23.000000  23.000000    23.000000  23.000000
mean    4.826087   49.290090    49.302670   1.882609   153.422609   0.003617
std     1.154130   68.343014    68.352239  40.559515  1851.708080   0.036434
min     1.000000    0.696070     0.698880 -74.100000 -3911.500000  -0.075600
25%     4.500000    0.731165     0.733140 -18.650000  -550.795000  -0.010100
50%     5.000000    1.220630     1.220730   3.100000   157.560000   0.003200
75%     5.000000  128.014000   128.032500  36.650000  1810.000000   0.036850
max     7.000000  152.522000   152.051000  50.800000  2400.400000   0.047100

,Lots,SL,TP,Open Price,Close Price,Pips,Profit,Gain
count,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000
mean,0.536979,1.210823,1.210517,1.210629,1.210514,8.359375,41.827917,0.002144
std,0.059225,0.009653,0.012282,0.009862,0.010222,52.101635,275.886590,0.013955
min,0.400000,1.187100,1.179650,1.187500,1.187100,-45.700000,-241.250000,-0.011300
25%,0.500000,1.206175,1.202525,1.205395,1.203267,-36.525000,-197.640000,-0.010100
50%,0.530000,1.212240,1.211030,1.212130,1.211935,1.000000,5.150000,0.000300
75%,0.570000,1.214510,1.219985,1.215327,1.214803,32.800000,170.870000,0.008800
max,0.700000,1.230430,1.234390,1.230330,1.234390,139.200000,794.050000,0.040000

,Lots,SL,TP,Open Price,Close Price,Pips,Profit,Gain
count,30.0,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000
mean,10.0,13837.146667,13827.570333,13827.570333,13834.213000,-163.266667,-16.326667,-0.000920
std,0.0,169.845855,183.081278,173.789694,169.968079,2242.607548,224.260755,0.013842
min,10.0,13432.620000,13389.600000,13439.600000,13432.620000,-5000.000000,-500.000000,-0.030100
25%,10.0,13728.900000,13707.717500,13713.750000,13724.165000,-1852.000000,-185.200000,-0.011300
50%,10.0,13899.410000,13860.660000,13898.395000,13899.410000,651.000000,65.100000,0.004150
75%,10.0,13961.750000,13973.537500,13951.457500,13950.515000,920.500000,92.050000,0.005750
max,10.0,14065.780000,14055.720000,14072.400000,14065.780000,3889.000000,388.900000,0.024400

             Lots  Open Price  Close Price   Pips      Profit        Gain
count  527.000000  527.000000   527.000000  527.0  527.000000  527.000000
mean     0.168634    1.572958     1.573152    0.0   -0.724307    0.000007
std      0.056414    0.312737     0.312742    0.0   40.443728    0.009116
min      0.100000    0.853080     0.853860    0.0 -159.530000   -0.029700
25%      0.120000    1.367530     1.367525    0.0    1.750000    0.000450
50%      0.170000    1.716180     1.715820    0.0   12.160000    0.003300
75%      0.190000    1.762390     1.763275    0.0   15.865000    0.003900
max      0.430000    2.014580     2.009870    0.0  246.290000    0.048000

             Lots   Open Price  Close Price   Pips      Profit        Gain
count  441.000000   441.000000   441.000000  441.0  441.000000  441.000000
mean     0.070272   294.153239   294.299093    0.0    0.316848    0.000106
std      0.059417   649.971356   650.224350    0.0   34.269680    0.006318
min      0.010000     0.611240     0.612390    0.0 -124.510000   -0.019000
25%      0.010000     0.972650     0.971760    0.0   -5.660000   -0.001100
50%      0.050000     1.101920     1.099400    0.0    0.000000    0.000000
75%      0.120000     1.644980     1.646450    0.0    2.180000    0.000400
max      0.260000  1957.840000  1956.780000    0.0  341.010000    0.057500

             Lots   Open Price  Close Price   Pips      Profit        Gain
count  321.000000   321.000000   321.000000  321.0  321.000000  321.000000
mean     0.137040   314.561308   315.338969    0.0    0.914268    0.000119
std      0.100179   644.271926   645.866387    0.0   53.339632    0.005915
min      0.030000     0.615220     0.614240    0.0 -146.770000   -0.015800
25%      0.050000     1.114050     1.114490    0.0  -22.970000   -0.002400
50%      0.120000     1.448100     1.440220    0.0    3.630000    0.000400
75%      0.230000   120.243000   120.572000    0.0   16.720000    0.001900
max      1.000000  3260.000000  3249.000000    0.0  360.770000    0.039600

              Lots   Open Price  Close Price    Pips       Profit         Gain
count  1089.000000  1089.000000  1089.000000  1089.0  1089.000000  1089.000000
mean      0.265436   110.666307   110.688500     0.0     5.842424     0.001149
std       0.111088   413.315961   413.404382     0.0    75.168526     0.012833
min       0.050000     0.657070     0.656680     0.0  -505.650000    -0.075100
25%       0.160000     1.209270     1.208680     0.0    -4.350000    -0.000900
50%       0.270000     1.329120     1.328210     0.0    13.940000     0.003000
75%       0.320000     1.393440     1.393590     0.0    28.380000     0.005800
max       0.750000  1954.740000  1958.940000     0.0   369.430000     0.077100

               Lots  Open Price  Close Price   Pips        Profit        Gain
count  3.480000e+02  348.000000   348.000000  348.0    348.000000  348.000000
mean   1.000000e-01   81.567409    81.606811    0.0    544.448276    0.004827
std    6.392974e-16   50.249256    50.280355    0.0   3423.401431    0.025245
min    1.000000e-01    0.755640     0.755210    0.0 -12835.000000   -0.098100
25%    1.000000e-01    1.321568     1.320970    0.0    117.500000    0.001275
50%    1.000000e-01  104.222500   104.236500    0.0    855.500000    0.006000
75%    1.000000e-01  108.873250   108.813000    0.0   1736.250000    0.015425
max    1.000000e-01  144.770000   144.761000    0.0  11109.000000    0.132300

             Lots  Open Price  Close Price   Pips      Profit        Gain
count  231.000000  231.000000   231.000000  231.0  231.000000  231.000000
mean     0.045974    1.684670     1.684633    0.0    0.861126    0.002015
std      0.017315    0.175302     0.175152    0.0    7.428713    0.009770
min      0.010000    1.177970     1.179060    0.0  -46.670000   -0.080300
25%      0.050000    1.635575     1.636160    0.0    0.610000    0.001350
50%      0.050000    1.737930     1.736890    0.0    3.360000    0.003500
75%      0.060000    1.799265     1.798205    0.0    4.295000    0.004450
max      0.060000    1.847880     1.846830    0.0   11.040000    0.025300

             Lots   Open Price  Close Price   Pips      Profit        Gain
count  394.000000   394.000000   394.000000  394.0  394.000000  394.000000
mean     0.053553    52.828031    52.883290    0.0    1.796294    0.001649
std      0.054029   279.763069   280.063236    0.0   12.412945    0.011096
min      0.020000     1.075060     1.072990    0.0  -56.210000   -0.059300
25%      0.050000     1.141018     1.142045    0.0   -5.037500   -0.003975
50%      0.050000     1.222590     1.222300    0.0    0.020000    0.000000
75%      0.050000     1.300123     1.299888    0.0    8.450000    0.007500
max      1.000000  1604.560000  1606.920000    0.0   55.650000    0.042300

              Lots   Open Price  Close Price    Pips      Profit         Gain
count  1103.000000  1103.000000  1103.000000  1103.0  1103.00000  1103.000000
mean      0.079202    18.061219    18.063665     0.0     1.65311     0.000980
std       0.019970    37.417400    37.424713     0.0    16.16964     0.008789
min       0.030000     0.567910     0.568110     0.0  -141.22000    -0.076300
25%       0.060000     1.059010     1.059405     0.0    -0.28000    -0.000200
50%       0.080000     1.307480     1.307260     0.0     3.36000     0.002100
75%       0.090000     1.755355     1.756610     0.0     7.95000     0.004800
max       0.240000   111.490000   111.573000     0.0    92.44000     0.048800

             Lots    Open Price   Close Price   Pips      Profit        Gain
count  264.000000    264.000000    264.000000  264.0  264.000000  264.000000
mean     0.080417   6976.123526   6986.347136    0.0   12.699053    0.000942
std      0.139887  16877.269284  16907.275033    0.0   87.685198    0.006451
min      0.010000      0.599330      0.598400    0.0 -820.760000   -0.060300
25%      0.020000      1.785403      1.785025    0.0   -7.337500   -0.000600
50%      0.050000   1715.180000   1715.280000    0.0    0.265000    0.000000
75%      0.090000   1927.407500   1916.045000    0.0   18.440000    0.001500
max      1.400000  55647.750000  55513.010000    0.0  642.590000    0.044100

In [ ]:
for i in range(8):
    Num = 1 + i 
    df = pd.read_excel('Archivos/Trader_0%s.xlsx' %Num)