In [5]:
import numpy as np
import pandas as pd

## Importamos las bases de datos de cada trader

In [53]:
trader1 = pd.read_excel('Archivos/Trader_01.xlsx').dropna()
trader2 = pd.read_excel('Archivos/Trader_02.xlsx').dropna()
trader3 = pd.read_excel('Archivos/Trader_03.xlsx').dropna()
trader4 = pd.read_excel('Archivos/Trader_04.xlsx').dropna()
trader5 = pd.read_excel('Archivos/Trader_05.xlsx').dropna()
trader6 = pd.read_excel('Archivos/Trader_06.xlsx').dropna()
trader7 = pd.read_excel('Archivos/Trader_07.xlsx').dropna()
trader8 = pd.read_excel('Archivos/Trader_08.xlsx').dropna()
trader10 = pd.read_excel('Archivos/Trader_10.xlsx').dropna()
trader11 = pd.read_excel('Archivos/Trader_11.xlsx').dropna()
trader12 = pd.read_excel('Archivos/Trader_12.xlsx').dropna()
trader13 = pd.read_excel('Archivos/Trader_13.xlsx').dropna()
trader14 = pd.read_excel('Archivos/Trader_14.xlsx').dropna()
trader15 = pd.read_excel('Archivos/Trader_15.xlsx').dropna()
trader16 = pd.read_excel('Archivos/Trader_16.xlsx').dropna()
trader17 = pd.read_excel('Archivos/Trader_17.xlsx').dropna()
trader18 = pd.read_excel('Archivos/Trader_18.xlsx').dropna()

**Tabla con información de todos los traders**

In [52]:
tabla = [trader1, trader2, trader3, trader4, trader5, trader6, trader7, trader8, trader10, trader11, trader12,
        trader13, trader14, trader15, trader16, trader17, trader18]
data = pd.concat(tabla, sort='False', ignore_index='True')
data.head()

,Action,Close Price,Close date,Duration,Gain,Lots,Open Date,Open Price,Pips,Profit,SL,Symbol,TP
0,Buy,3073.60000,03.18.2021 20:12,14d,0.0003,10.00,03.04.2021 17:42,3042.75000,3085.0,276.76,-,AMZN.N,-
1,Sell,55258.08000,03.16.2021 10:11,4d,0.0000,0.01,03.11.2021 22:43,57411.08000,2153.0,19.95,-,BTCUSD,-
2,Sell,1.38346,03.16.2021 10:11,4d,0.0008,0.50,03.11.2021 22:43,1.39927,158.1,786.54,-,GBPUSD,-
3,Sell,1.19373,03.12.2021 15:43,17h 0m,0.0003,0.50,03.11.2021 22:43,1.19888,51.5,257.39,-,EURUSD,-
4,Sell,1.08049,03.12.2021 15:43,16h 59m,-0.0002,1.00,03.11.2021 22:44,1.07753,-29.6,-214.49,-,AUDNZD,-

## Estadística descriptiva de cada trader

In [70]:
display(trader1.describe(), trader2.describe(),
        trader3.describe(), trader4.describe(),
        trader5.describe(), trader6.describe(),
        trader7.describe(), trader8.describe(),
        trader10.describe(), trader11.describe(),
        trader12.describe(), trader13.describe(),
        trader1.describe(), trader3.describe(),
        trader3.describe(), trader3.describe())

,Lots,Open Price,Close Price,Pips,Profit,Gain
count,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000
mean,2.273030,9572.881273,9747.860933,485.033333,572.670909,0.000570
std,3.323684,19232.467388,19570.908559,1276.134561,1904.650934,0.001886
min,0.010000,1.065380,1.066390,-3706.500000,-3732.840000,-0.003700
25%,1.000000,1.392160,1.383460,-10.300000,-61.610000,-0.000100
50%,1.000000,20.865650,20.863480,45.100000,138.000000,0.000100
75%,1.000000,1735.800000,1738.040000,1060.700000,478.180000,0.000500
max,10.000000,57411.080000,55258.080000,3250.000000,8994.510000,0.008900

            Lots  Open Price  Close Price       Pips     Profit       Gain
count  87.000000   87.000000    87.000000  87.000000  87.000000  87.000000
mean    0.053678    1.746749     1.746717   6.098851   2.103908   0.001410
std     0.010013    0.013804     0.013866   7.662647   3.349704   0.002265
min     0.030000    1.721690     1.721970 -22.000000 -10.980000  -0.007500
25%     0.050000    1.733005     1.733005   3.600000   0.585000   0.000400
50%     0.060000    1.750140     1.750700   8.400000   3.000000   0.002100
75%     0.060000    1.756885     1.756710   8.700000   3.615000   0.002400
max     0.060000    1.776380     1.777230  24.000000  10.790000   0.007400

In [50]:
for i in range(8):
    Num = 1 + i 
    df = pd.read_excel('Archivos/Trader_0%s.xlsx' %Num)